function show_dns_server() {
	nmcli | /usr/bin/grep -A3 "^DNS configuration" | grep "servers:" | sed "s#.*servers: ##"
}

ln -sf $(which alacritty)      $HOME/bin/a
ln -sf $(which google-chrome)  $HOME/bin/g
ln -sf $(which signal-desktop) $HOME/bin/s
ln -sf $(which terminator)     $HOME/bin/t
ln -sf $(which nautilus)       $HOME/bin/n
